html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

#App {
  text-align: center;
  height: 100vh;
}

#App header {
  position: absolute;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-items: center;
}
  
h1 {
  padding: 0;
  margin: 0;
}
      
#game {
  background-color: black;
  height: 100%;
  color: white;
  justify-content: start;
  overflow: hidden;
}

#infoArea {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: black;
  z-index: 10;
}
#infoArea p {
  margin: 0;
  padding: 2px;
}
#startGame, #stopGame {
  border: 1px solid white;
  cursor: pointer;
}

a {
  color: gray;
}

.player {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 20px;
}

.asteroid {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
}

.bullet {
  position: absolute;
  background-color: white;
  width: 2px;
  height: 2px;
}

.animated-element {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
  transition: transform 0.75s;
}

.animated-element.animate {
  transform: scale(10);
}